# Dependencies
node_modules/
.pnp
.pnp.js

# Virtual Environments
venv/
.venv/
env/
.env/

# Environment Variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
build/
out/
.next/
.cache/
data/db.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Project Specific
image ss/
# agrow-platform/blockchain/
**/node_modules/
**/venv/
**/.venv/
**/__pycache__/
*.pyc
